go 1.25.0

use (
	./microservices/analytics-consumer
	./microservices/analytics-service
	./microservices/api-gateway
	./microservices/audit-consumer
	./microservices/billing-consumer
	./microservices/branding-service
	./microservices/component-service
	./microservices/database-service
	./microservices/event-store-service
	./microservices/incident-service
	./microservices/landing-page-service
	./microservices/monitoring-service
	./microservices/notification-consumer
	./microservices/notification-service
	./microservices/payment-service
	./microservices/saas-admin-service
	./microservices/shared-resilience
	./microservices/status-page-ui-service
	./microservices/tenant-admin-service
	./microservices/tenant-service
	./microservices/user-service
)
